/*basic table structure*/
td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 7px 5px;
}

th {
    background-color: rgb(235, 235, 235);
}

#inventory-table-data {
    text-align: center;
}

#inventory-table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}