.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.settingsLogo{
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo, .settingsLogo {
    animation: App-logo-spin infinite 30s linear;
  }
}

#storeTitle {
  background-color: pink;
  color: rgb(201, 37, 105);
  font-family: "Hearts-Title";
  font-size: 70px;
}

.pageTitle{
  font-family: "Hearts-Title";
  font-size: 40px;
  color:#31aaeb;
}

#navBar{
  background-color: #61dafb;
  width: 95%;
  padding: 5px;
  margin: 5px;
  line-height: 30px;
}

#navBar button{
  background-color: transparent;
  border: none;
  color:white;
}



#cartImg{
  height: 25px;
}

#main{
  padding: 20px 0px;
  background: linear-gradient(white 0%, pink 90%);
  min-height: 600px;
  white-space:pre-wrap;
}

#cart{
  display: inline-block;
  border: none !important;
}

#sideBar{
  background: linear-gradient(pink 0%, rgb(201, 37, 105) 100%);
 /* Full-height: remove this if you want "auto" height */
    width: 180px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    right: 0;
    padding: 20px 0px;
    margin: 10px;
    border-radius: 20px;
    display: inline-block;
}

#pay{
  border: 0px;
  background-color: #61dafb;
  padding: 10px;
  border-radius: 15px;
  font-size: 20px;
}
#totals{
  text-align: left;
  padding-left: 30px;
}

.qty{
  width: 50px;
  text-align: center;;
}

table{
  text-align: center;
}
td{
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.thumb{
  width: 125px !important;
  height: 125px !important;
  object-fit: cover !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face{
  font-family: "Hearts-Title";
  src: url(fonts/quirky-love-font/QuirkyLovePersonalUseRegular-RpwrM.ttf);
}

body{
  min-height: 100vh;
}

#regForm{
  width: fit-content;
  text-align: right;
}

.orderDisplay, .orderDisplay tr{
  border:rgb(201, 37, 105)solid 1px;
  font-size: 20px;
  
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.orderDisplay{
  margin: px;
}

.orderDisplay th{
  background-color: pink;
  color:rgb(207, 9, 92);
  padding: 10px 20px;
}


.orderDisplay td, .orderDisplay th{
  padding: 20px;
  border: 0px;
}

#loginSubmit, #regSubmit, .add-to-cart-button, #update-inv, #add-inv, #viewall, #viewbyid, #checkout{
  background-color: rgb(184, 52, 98);
  border: none;
  margin: 10px;
  color: white;
}

#addtocart, #update, #delete{
  margin: 10px;
}
.login-form, .reg-form, .updateInv{
  margin: 10px;
}

#itemStatus{
  margin: 10px;
}